<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm việc</title>

    <%- include('./head') %>
    

    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/find-job.css">
    <link rel="stylesheet" href="public/css/footer.css">
    <link rel="stylesheet" href="public/fontawesome/css/all.css">

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</head>
<body>
    <div class="container">
        <%- include('./nav', {data: typeof(data) == 'undefined' ? {role: 'client'} : data}) %>
    </div>
    <div class="bg-light">
        <div class="container">
            <div id="search" style="background: white;">
                <form class="form-inline" action="find-job" method="POST">
                    <div class="form-group mb-2 search-normal">
                        <input name="title" type="text" class="form-control" placeholder="eg. Lập trình viên">
                    </div>
                    <select class="form-control search-normal" name="name">
                        <option value="">Ngành nghề</option>
                        <% for(var i=0; i<titles.length; i++) {%>
                            <option value="<%= titles[i]._id %>"><%= titles[i].name %></option>
                        <%}%>
                    </select>
                    <div class="form-group mb-2 search-normal">
                        <input name='location' type="text" class="form-control" placeholder="Location">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 search-normal">Tìm việc ngay</button>
                </form>
                <div class="search-advance" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-search"></i>
                    <span>Tìm kiếm nâng cao</span>
                </div>
            </div>
        </div>
    
        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <form action="/find-job-advance" method="POST">
                                <tr>
                                    <td class="title">Tiêu đề</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="e.g Lập trình viên" name="title">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Địa chỉ</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Hà Nội" name="location">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Lương từ</td>
                                    <td>
                                        <input type="number" class="form-control" name="salaryFrom">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Lương đến</td>
                                    <td>
                                        <input type="number" class="form-control" name="salaryTo">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Ngày hết hạn</td>
                                    <td>
                                        <input type="date" class="form-control" name="outDate">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary" type="submit">Tạo việc làm</button>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-2 pb-2">
            <div class="container justify-content-center pt-5 pb-5" style="padding-top: 1rem !important;">
                <div class="tab-content">      
                    <div class="row aos-init aos-animate job" data-aos="fade">
                        <% for(var i=0; i<jobs.length; i++) {%>
                            <div class="col-md-6 item">
                                <img src="<%= jobs[i].companyImage %>" alt="">
                                <a href="/job-detail/<%=jobs[i].id%>" class="title-item"><b><%= jobs[i].title %></b></a>
                                <a class="company" href="/company-detail/<%=jobs[i].companyId%>" style="color: black;"><%= jobs[i].companyName %></a>
                                <span class="salary"><i class="fas fa-dollar-sign"></i> <%= jobs[i].salary_from %>-<%= jobs[i].salary_to %> triệu</span>
                                <span class="location"><i class="fas fa-map-marker-alt"></i> <%= jobs[i].companyLocation %></span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./footer.ejs') %>
</body>
</html>