<div id="job">   
    <div class="card">
        <div class="card-header">TIN TUYỂN DỤNG</div>
        <div class="card-body">
            <div class="row">
                <% for(var i=0; i<jobs.length; i++) {%>
                    <div class="col-4 job">
                        <img src="public/images/default-company.png" alt="">
                        <b><%= jobs[i].title %></b>
                        <span class="company"><%= jobs[i].company.name %></span>
                        <span class="salary"><i class="fas fa-dollar-sign"></i> <%= jobs[i].salary_from %>-<%= jobs[i].salary_to %> triệu</span>
                        <span class="location"><i class="fas fa-map-marker-alt"></i> <%= jobs[i].company.location %></span>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>