<div id="job">   
    <div class="card">
        <div class="card-header">TIN TUYỂN DỤNG</div>
        <div class="card-body">
            <div class="row">
                <% for(var i=0; i<jobs.length; i++) {%>
                    <div class="col-md-4 col-sm-12 col-xs-12 job">
                        <img src="<%= jobs[i].companyImage %>" alt="">
                        <a href="/job-detail/<%=jobs[i].id%>" class="detail"><b><%= jobs[i].title %></b></a>
                        <!-- <a href="/job-detail"><b><%= jobs[i].title %></b></a> -->
                        <a class="company" href="/company-detail/<%=jobs[i].companyId%>"><%= jobs[i].companyName %></a>
                        <span class="salary"><i class="fas fa-dollar-sign"></i> <%= jobs[i].salary_from %>-<%= jobs[i].salary_to %> triệu</span>
                        <span class="location"><i class="fas fa-map-marker-alt"></i> <%= jobs[i].companyLocation %></span>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- <script src="/public/js/job.js"></script> -->