<% for(var i=0; i<jobs.length; i++) {%>  
    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
        <div class="mb-4 mb-md-0 mr-5">
            <div class="d-flex align-items-center">
                <h2 class="mr-3 text-black h4"><%= jobs[i].title %></h2>
                <div class="badge-wrap">
                    <span class="bg-danger text-white badge py-2 px-4"><%= jobs[i].title %></span>
                </div>
            </div>
            <div class="d-block d-md-flex">
                <div class="mr-3">
                    <i class="fas fa-briefcase"></i>
                    <span><%= jobs[i].companyName %></span>
                </div>
                <div class="mr-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <span><%= jobs[i].companyLocation %></span>
                </div>
                <div class="mr-3">
                    <i class="fas fa-money-bill" aria-hidden="true"></i>
                    <span><%= jobs[i].salary_from %>-<%= jobs[i].salary_to %> triệu</span>
                </div><div class="mr-3">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                    <span><%= jobs[i].out_date.getDate() %>-<%= jobs[i].out_date.getMonth() + 1 %>-<%= jobs[i].out_date.getFullYear() %></span>
                </div>
            </div>
        </div>
        <div class="ml-auto">
            <button value="<%=jobs[i]._id%>" class="detail btn btn-primary py-2 ml-2" data-toggle="modal" data-target="#exampleModal<%=jobs[i]._id%>">
                Xem chi tiết
            </button>
        </div>
    </div>
    
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal fade" id="exampleModal<%=jobs[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 605px; margin-left: -25px;">
                <div class="modal-body">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CV</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let j=0; j<jobs[i].cvs.length; j++) {%>
                                <tr>
                                    <th scope="row"><%=j+1%></th>
                                    <td><a href="<%= jobs[i].cvs[j].file %>">Xem chi tiết</a></td>
                                    <td>test</td>
                                    <td>
                                        <form action="/accept-cv" method="POST">
                                            <input type="hidden" name="userId" value="<%=jobs[i].cvs[j].user_id%>">
                                            <input type="hidden" name="jobId" value="<%=jobs[i]._id%>">
                                            <button class="btn btn-primary">Chấp nhận</button>
                                        </form>
                                        <button class="btn btn-danger">Từ chối</button>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% } %>