<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <%- include('./head') %>

    <link rel="stylesheet" href="public/css/main-search.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/job.css">
    <link rel="stylesheet" href="public/css/footer.css">
    <link rel="stylesheet" href="public/fontawesome/css/all.css">
</head>
<body>
    <div class="container">
        <%- include('./nav', {data: typeof(data) == 'undefined' ? {role: 'client'} : data}) %>
    </div>

    <%- include('./main-search.ejs', { jobs: jobs, works: works }) %>
        
    <div class="container">
        <%- include('./job.ejs', { jobs: jobs }) %>
    </div>

    <%- include('./footer.ejs') %>
</body>
<script src="public/js/notification.js"></script>

<script src="https://js.pusher.com/5.1/pusher.min.js"></script>
<script>
    var companyId = document.getElementById('realtime').getAttribute('value');

    Pusher.logToConsole = true;
    var pusher = new Pusher('9a681ec33ff0af53eae3', {
        cluster: 'ap1',
        forceTLS: true
    });
    var channel = pusher.subscribe('NotifyCompany'+companyId);
    channel.bind('my-event', function(data) {
        var count = parseInt(document.getElementById('notification_count').innerHTML) + 1;
        if (count == 1) {
            document.getElementById('notification_count').style.display = 'inline';
        }
        document.getElementById('notification_count').innerHTML = count;

        var node = document.createElement("div");
        var tagB = document.createElement("b");           
        var textnode = document.createTextNode(data.notification);         
        tagB.appendChild(textnode);
        node.appendChild(tagB);              
        document.getElementById("notificationsBody").appendChild(node);
    });
</script>
<script src="public/js/handleReadNotification.js"></script>
<script src="public/js/notificationDB.js"></script>
</html>