<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include('./head') %>

    <link rel="stylesheet" href="public/css/switch-round.css">
</head>
<body>
    <%- include('./menu') %>

    <form action="/manage-jobs" method="POST">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ngành nghề</th>
                    <th scope="col">Địa điểm</th>
                    <th scope="col">Công ty</th>
                    <th scope="col">Lương</th>
                    <th scope="col">Ngày hết hạn</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">
                        <button class="btn btn-primary" type="submit">Chấp nhận</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<jobs.length; i++) {%>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= jobs[i].title %></td>
                        <td><%= jobs[i].companyLocation %></td>
                        <td><%= jobs[i].companyName %></td>
                        <td><%= jobs[i].salary_from %>-<%= jobs[i].salary_to %> triệu</td>
                        <td><%= jobs[i].out_date.getMonth()+1 %>-<%= jobs[i].out_date.getDate() %>-<%= jobs[i].out_date.getFullYear() %></td>
                        <td><%= jobs[i].created_at.getMonth()+1 %>-<%= jobs[i].created_at.getDate() %>-<%= jobs[i].created_at.getFullYear() %></td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="jobsAccepted" value="<%= jobs[i]._id %>">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </form>
</body>
</html>