<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <%- include('./head') %>

    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/my-company.css">
    <link rel="stylesheet" href="public/fontawesome/css/all.css">
    <style>
        #notificationLink {
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <%- include('./nav', {data: typeof(data) == 'undefined' ? {role: 'client'} : data}) %>

        <div id="my-company">
            <div class="row">
                <div class="col-4">
                    <img src="<%= company.image %>" alt="">
                </div>
                <div class="col-8">
                    <table class="table">
                        <tr>
                            <h2><%= company.name %></h2>
                        </tr>
                        <tr>
                            <td class="title">Tên:</td>
                            <td><%= company.name %></td>
                        </tr>
                        <tr>
                            <td class="title">Website:</td>
                            <td><%= company.website %></td>
                        </tr>
                        <tr>
                            <td class="title">Email:</td>
                            <td><%= company.email %></td>
                        </tr>
                        <tr>
                            <td class="title">Địa chỉ:</td>
                            <td><%= company.location %></td>
                        </tr>
                    </table>
                    <i class="fas fa-pencil-alt" data-toggle="modal" data-target="#exampleModal"></i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Về công ty</div>
                        <div class="card-body"><%= company.description %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-body">
                    <form action="/update-company" method="POST">
                        <table class="table table-borderless">
                            <tr>
                                <td>Tên</td>
                                <td>
                                    <input value="<%= company.name %>" name="name" type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td>
                                    <input value="<%= company.website %>" name="website" type="text" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input value="<%= company.email %>" name="email" type="text" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td>
                                    <input value="<%= company.location %>" name="location" type="text" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Mô tả</td>
                                <td>
                                    <textarea name="description" class="form-control" rows="2"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Sửa</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
      </div>
</body>
<script src="https://js.pusher.com/5.1/pusher.min.js"></script>
<script>
    var companyId = document.getElementById('realtime').getAttribute('value');

    Pusher.logToConsole = true;
    var pusher = new Pusher('9a681ec33ff0af53eae3', {
        cluster: 'ap1',
        forceTLS: true
    });
    var channel = pusher.subscribe('NotifyCompany'+companyId);
    channel.bind('my-event', function(data) {
        var count = parseInt(document.getElementById('notification_count').innerHTML) + 1;
        if (count == 1) {
            document.getElementById('notification_count').style.display = 'inline';
        }
        document.getElementById('notification_count').innerHTML = count;

        var node = document.createElement("div");
        var tagB = document.createElement("b");           
        var textnode = document.createTextNode(data.notification);         
        tagB.appendChild(textnode);
        node.appendChild(tagB);              
        document.getElementById("notificationsBody").appendChild(node);
    });
</script>
<script src="public/js/notification.js"></script>
<script src="public/js/handleReadNotification.js"></script>
<script src="public/js/notificationDB.js"></script>
</html>