<nav style="justify-content: space-between; background-color: white !important; padding: 2px 0px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size: 40px;">Job<b>start</b></a>

    <ul class="navbar-nav">
        <% if (data.role == 'client') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find-job">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-job">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
        <%} else if(data.role == 'company_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my-company">Công ty của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs-of-company">Quản lí việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-job">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout" id="signout">Đăng xuất</a>
            </li>
            <li style="display: none;" value="<%=data.companyId%>" id="notificationsAjax"></li>
            <li class="nav-item" style="position: relative;">
                <a href="#" id="notificationLink" value='<%=data.companyId%>'><i class="fas fa-bell fa-2x"></i></a>
                <!-- <% if (typeof(data.countNotificationsIsNotRead) != 'undefined' && data.countNotificationsIsNotRead >0) {%>
                    <span id="notification_count"><%=data.countNotificationsIsNotRead%></span>
                <%} else {%>
                    <span id="notification_count" style="display: none;"><%=0%></span>
                <% } %> -->
                <span id="notification_count" style="display: none;"></span>
                <div id="notificationContainer">
                    <div id="notificationsBody" class="notifications">
                        <!-- <% if(typeof(data.notifications) != 'undefined') { %>
                            <%for(let i=0; i< data.notifications.length; i++) {%>
                                <div><%= data.notifications[i].title %></div>
                            <% } %>
                        <% } %> -->
                    </div>
                    <div id="notificationFooter"><a href="#" style="text-decoration: none;">See All</a></div>
                </div>
            </li>
            <li style="display: none;" value="<%=data.companyId%>" id="realtime"></li>
            <li class="nav-item">
                <% if(data.image == null) {%>
                <a href="/"><img class="avatar" src="public/images/default-company.png"></a>
                <%} else {%>
                <a href="/personal-page"><img class="avatar" src="<%= data.image %>"></a>
                <% } %>
            </li>
        <%} else if(data.role == 'candidate_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/save-job-list">Việc đã lưu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find-job">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Đăng xuất</a>
            </li>
            <li style="display: none;" id="user-id" value="<%=data._id%>"></li>
            <li class="nav-item" style="position: relative;">
                <a href="#" id="notificationLink"><i class="fas fa-bell fa-2x"></i></a>
                <span id="notification_count">3</span>
                <div id="notificationContainer">
                    <div id="notificationsBody" class="notifications">
                        hahahaahahh Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et error minima corporis, sapiente nesciunt provident eveniet, placeat quo, nihil quidem fugit sint voluptatem ducimus nam velit sequi quaerat fuga facere!
                        hahahaahahh Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et error minima corporis, sapiente nesciunt provident eveniet, placeat quo, nihil quidem fugit sint voluptatem ducimus nam velit sequi quaerat fuga facere!
                    </div>
                    <div id="notificationFooter"><a href="#" style="text-decoration: none;">See All</a></div>
                </div>
            </li>
            <li class="nav-item">
                <% if(data.image == null) {%>
                <a href="/"><img class="avatar" src="public/images/default-image.png"></a>
                <%} else {%>
                <a href="/personal-page"><img class="avatar" src="<%= data.image %>"></a>
                <% } %>
            </li>
        <%}%>
    </ul>
</nav>
